---
---
<!DOCTYPE html>
<html style="font-size:100%">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Noam Aigerman's Homepage</title>
	<script type="text/javascript" src="html/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="html/jquery/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="html/jquery/jquery-ui.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script type="text/javascript" src="html/JS/setMail.js?2"></script>
	
	<script type="text/javascript">  
		// function setVline(e){
		// 	a=$('.vline').first();
		// 	p=$('.paper-entry').last();
		// 	t=a.offset().top;
		// 	b=p.offset().top + p.outerHeight(true);
		// 	a.height(b-t-20);
		// 	a.css("left",  p.position().left-20);

		// }
		// $(window).resize(setVline);
		function setTooltip(){
			$('.paper-link').each(
				function(){

					$(this).tooltip({tooltipClass:'paper-size-tooltip',content: function() {
						var element = $( this );
						if ( element.is( "[data-size]" ) ) {
							return element.attr( "data-size" )+ ' MB';
						}

					},'position':{my: 'center bottom', at: 'center top',of:$(this)}, hide: {duration:50},show:{duration:10},items:'a'});

				}
				);


			
			$('.teaser').each(
				function(){
				var parent=$(this);//.parent();
				$(this).tooltip({
					'position':{my: 'left top', at: 'left bottom',of:$(this)}, hide: {duration:0},tooltipClass:'teaser-text-tooltip',
					content: '<div style="background-color:rgba(255,255,255,0);">'+$(this).attr('title')+'<hr style=color:white;"><span style="font-size:85%;color:rgb(230,230,230)"><span style="text-decoration:underline">Figure:</span> '+$(this).attr('alt')+'</span></div>'

				});

			}
			);
			// $('.paper-data > a').attr("target","_blank");




			
			
			
			

		}

		// function setEaster(){
		// 	fadeouttime=500;
		// 	fadeintime=6000;
		// 	$('#mepic').hover(
				
		// 		function(){

		// 			$('#me2d').stop().animate({'opacity':0},fadeintime);
		// 			$('#me2d').promise().done(function(){$('#me3d').stop().animate({'opacity':1},fadeouttime);});


		// 		//$('#me2d').promise().done(function(){$(this).css('display','none');$('#me3d').css('display','inline');});
				
				
		// 	},
		// 	function(){$('#me2d').stop().animate({'opacity':1},fadeouttime);
		// 	$('#me3d').stop().animate({'opacity':0},fadeouttime);
		// }

		// );

		// 	$('#me3d').attr('src','pics/me3d.png');
		// }
		function setOpacity(){
			return;
			hideopa=0.7;
			fadeint=200;
			fadeoutt=500;
			//$('.teaser').css('opacity', opa);  

// when hover over the selected image change the opacity to 1  

$('.teaser').hover(  
	function(){  
		$('.teaser').parent().stop().animate({'opacity':hideopa},fadeint); /*,'background-color':'none'*/
		$(this).parent().stop().animate({'opacity':1},fadeint);/*,'background-color':'rgb(246,245,244)'*/

	},  
	function(){  
		$('.teaser').parent().stop().animate({'opacity':1},fadeoutt)/*,'background-color':'none'*/
	});  

}
function setYears(){
	$('li.paperyear').each(function(){
		var element = $( this );
		if ( element.is( "[year]" ) ) {
			element.prepend('<hr class="fancy-line"></hr><div class="tab">'+element.attr('year')+"</div>")
		}
	});
}
</script>


<link rel="stylesheet" type="text/css" href="html/css/main.css"/>

</head>

<body onload="setMail();setTooltip();setOpacity();






$('.fancy-line').each(function(ind){$(this).delay(ind*250+300).animate({

	width:'100%'
},500);
});
" >
<div id = "main_container">
<div id="main" >
	<!-- <div class = "fancy-border"> -->
		<div style="display: grid;">
			<div style="grid-column: 1;">
		<div> 
			<span class="heading title fancy-border">Noam Aigerman </span>
			<span class="pronounce-tip">   (pronounced "Noh-uhm", like Noah with an M at the end.)</span>
		</div>
	<!-- </div> -->
	
			
			
			<div  >
				<div style="font-size: 1.05em;" class="subheading">
					<div id = "affiliations" style="padding-top: 25px;font-weight: normal;">
						<span style="white-space: nowrap;">Assistant Professor,</span> <span style="white-space: nowrap;"><a target="_blank"  href="https://www.umontreal.ca/en/">University of Montreal</a></span><br>
						<span style="white-space: nowrap;">Associate Academic Member,</span> <span style="white-space: nowrap;"><a target="_blank" href="https://mila.quebec/en/">Mila</a></span>
					</div>
					
					<div style="padding-top:36px;padding-left: 1px;">
						<div style="display: grid;  align-items: center;grid-template-columns: min-content auto;">
							<div style="padding-right: 10px; grid-column: 1;">
								<a href="https://maps.app.goo.gl/a9y59VGZeBpYYGjN8" target ="_blank"><svg  class="icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<title>Google Maps</title>
									<path d="M19.527 4.799c1.212 2.608.937 5.678-.405 8.173-1.101 2.047-2.744 3.74-4.098 5.614-.619.858-1.244 1.75-1.669 2.727-.141.325-.263.658-.383.992-.121.333-.224.673-.34 1.008-.109.314-.236.684-.627.687h-.007c-.466-.001-.579-.53-.695-.887-.284-.874-.581-1.713-1.019-2.525-.51-.944-1.145-1.817-1.79-2.671L19.527 4.799zM8.545 7.705l-3.959 4.707c.724 1.54 1.821 2.863 2.871 4.18.247.31.494.622.737.936l4.984-5.925-.029.01c-1.741.601-3.691-.291-4.392-1.987a3.377 3.377 0 0 1-.209-.716c-.063-.437-.077-.761-.004-1.198l.001-.007zM5.492 3.149l-.003.004c-1.947 2.466-2.281 5.88-1.117 8.77l4.785-5.689-.058-.05-3.607-3.035zM14.661.436l-3.838 4.563a.295.295 0 0 1 .027-.01c1.6-.551 3.403.15 4.22 1.626.176.319.323.683.377 1.045.068.446.085.773.012 1.22l-.003.016 3.836-4.561A8.382 8.382 0 0 0 14.67.439l-.009-.003zM9.466 5.868L14.162.285l-.047-.012A8.31 8.31 0 0 0 11.986 0a8.439 8.439 0 0 0-6.169 2.766l-.016.018 3.665 3.084z"/>
								</svg>
							</div>
							<div id="address" style="grid-column: 2;">
								<span style="font-weight: bold;">Room 3359</span>,
								Pavillon André-Aisenstadt
								<br>C.P. 6128, succ. Centre-Ville, Montréal, Québec, Canada H3C 3J7
							</div></a>	
						</div>
						<div>
							<a id="email-link" href="mailto:firstname.lastname@umontreal.ca">
								<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"  stroke="currentColor"  stroke-linecap="round" stroke-linejoin="round">
									<title>Email</title>
									<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/>
									<polyline points="22,6 12,13 2,6"/>
							</svg><span>noam.aigerman@umontreal.ca</span></a>
						</div>
						<div>
							<a href="https://scholar.google.com/citations?user=eO2xkdMAAAAJ&hl=en" target="_blank" >
								<svg class="icon" role="img" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
									<title>Google Scholar</title>
									<path d="M5.242 13.769L0 9.5 12 0l12 9.5-5.242 4.269C17.548 11.249 14.978 9.5 12 9.5c-2.977 0-5.548 1.748-6.758 4.269zM12 10a7 7 0 1 0 0 14 7 7 0 0 0 0-14z"/>
								</svg></a>
						</div>
						<div>
							<a href="https://twitter.com/AigermanNoam" target="_blank">
								<svg class="icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<title>Twitter</title>
									<path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"/>
								</svg></a>
						</div>
						
					</div> 
				</div>
				<br>
				
			</div>
			<br>
			<div id="about">
				<span style="text-decoration: underline;">Blurb:</span> I am a computer scientist working on problems related to machine learning and 3D geometry. My research lies at the intersection of <span style="font-style: italic;">geometry processing</span>, <span style="font-style: italic;">computer graphics</span>, <span style="font-style: italic;">deep learning</span>, and <span style="font-style: italic;">optimization</span>. Currently, I mostly focus on using geometry processing to devise thoeretically-grounded machine learning approaches for 3D problems; and, vice-versa, approaching geometry processing tasks from a machine learning perspective. 
			</div>
			
		</div>
		<div style="margin-right:1%;grid-column: 2;justify-self: end;max-width:220px; min-width: 150px;padding-left: 20px;">
			<div id="mepic">
				<img id="me2d" src="pics/me.jpg" style="max-width: 100%;margin-left:10px;" alt="Yes, this is I!"  class="round-corner" />
				
			</div>	
		</div>
	</div>
	
	<br/>
	
	 <div style="clear:both">


	</div>

		<br><br>
		<div id="pub" style="padding-top:20px">
			<div class="fancy-border">
			<span class="heading">Publications</span>
			&nbsp
			<span class="subheading" style="white-space: nowrap;"> (hover over a project's image for a one-sentence summary)</span>
			</div>
			<br/>
			<div class="paper-grid" style="padding-top:5px">				
				{% for item in site.data.papers %}
				<img alt="{{ item.img_alt | escape }}" class="teaser" src="{{ item.img }}"  title="{{ item.explanation | escape }}"/>
				<div class="paper-cell">
					<div class="paper-title">
						{{ item.title }}
					</div>
					<div class="paper-data">
						<div class="authors">
							{% assign authors = item.authors | normalize_whitespace | split: ", " %}
							{% for author in authors %}
							<span style="white-space: nowrap;"{% if author == "Noam Aigerman" %} class="hi"{% endif %}>
								{{author}}{% if forloop.last == false %},{% endif %}
							</span>
							{% endfor %}
						</div>		
						<div class = "venue">
							{{ item.venue }}
						</div>	
						{% if item.links %}
				 		<div class="paper-links">
					    	{% for link in item.links %}
							<a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a> {% unless forloop.last %} | {% endunless %}	
							{% endfor %}
						</div>
					    {% else %}
					    [Coming soon...]
						{% endif %}	
					</div>
				</div>
		  		{% endfor %}
				<div class="fancy-border" style="grid-column: 1 / 3;">
					<span class="heading">Others</span>
				</div>
				<img alt="A deformation of a bar." class="teaser" src="html/projects/IGS2016/teaser.jpg"  title="A course on practical aspects of map-computation."/>
				<div class="paper-cell">
					<div class="paper-title">Computational Aspects of Mappings</div>
					<div class="paper-data">
						Tutorial given at the IGS 2016 summer school (with Shahar Kovalsky)
						<br/>  <a class="paper-link" data-size="15" href="html/projects/IGS2016/slide.pdf">Slides (pdf)</a> 
					</div>
				</div>
			</div>
		<a href="https://pbs.twimg.com/media/EoZdmz4XIAIYx16?format=jpg&name=large" target="_blank">Research, in a nutshell</a>
	</div>
</div>
</body>
</html>

